<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <section class="img-gallery">
            <div class="large-img-container">
                <h4>Bestsellers in Women's Indian Clothing</h4>
                <div class="product-details"></div>
                <!-- <div class="product-details">
                    <figure>
                        <img src="https://m.media-amazon.com/images/I/61SgADmAyDL._AC_SY350_.jpg"/>
                        <figcaption>ANNI DESIGNER Women's Cotton Blend Straight Printed Kurta with Palazzo</figcaption>
                    </figure>
                    <div class="price-tag">
                        <span class="original-price">
                            <span>&#8377;</span>
                            <h6 class="price">489</h6>
                            <sup>00</sup>
                        </span>
                        <span class="mrp-price">
                            <span>M.R.P. : </span>
                            <p class="price">&#8377;2500.00</p>
                        </span>
                    </div>
                </div> -->
            </div>
            <div class="thum-img-section">
                <figure class="thum-img"><img src="https://m.media-amazon.com/images/I/61SgADmAyDL._AC_SY350_.jpg"/></figure>
                <figure class="thum-img"><img src="https://m.media-amazon.com/images/I/71BLkd39VKL._AC_SY350_.jpg"/></figure>
                <figure class="thum-img"><img src="https://m.media-amazon.com/images/I/61nCJ7mqXFL._AC_SY350_.jpg"/></figure>
                <figure class="thum-img"><img src="https://m.media-amazon.com/images/I/61PheLoGzNL._AC_SY350_.jpg"/></figure>
            </div>
        </section>
    </div>
    <script  type="module" src="./script.js"></script>
</body>
</html>