* {
    box-sizing: border-box;
  }
  
  body {
    position: relative;
  }
  
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  h3 {
    position: absolute;
    text-align: center;
    top: 20px;
  }

  .flag {
    position: relative;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .Estonia {
    background: linear-gradient(#4d8fcc 33%, #000 33%, #000 67%, #fff 0);
  }
  .Colombia {
    background: linear-gradient(#fad116 50%, #22408b 50%, #22408b 75%, #d60b1f 0);
  }
  .Armenia {
    background: linear-gradient(#be0026 33%, #3c5aa3 33%, #3c5aa3 66%, #e2ae58 0);
  }
  .Belgium {
    background: linear-gradient(
      to right,
      black 33%,
      #fddb21 33%,
      #fddb21 67%,
      #ef303f 0
    );
  }


